*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image:url(bg3.jpg);
    background-size: cover;
    color: #fff;
}

body h2{
    /* background-color: aqua; */
    text-align: center;
    font-size: 52px;
    margin-top: 40px;
}
body h3{
    /* background-color: aquamarine; */
    text-align: center;
    font-size: 20px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center; 
    /* background: pink;    */
}
.container{
    /* background-color: blanchedalmond; */
    margin-top: 40px;
    width: 60%;
    border: 2px solid #fff;
    border-radius: 20px;
    margin-bottom: 100px;
}

.item{    
    /* background-color: red; */
    width: 100%;
    height: 200px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
    margin-block: 50px;
}
.item_text{
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    
}

.item_type{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 153, 0);
    /* width: 120px; */
    height: 25px;
    border-radius: 8px;
    padding: 20px 18px;
}

.item_name p{
    /* background-color: black; */
    font-size: 20px;
    line-height: 24px;
}
.item_cost p{
    font-size: 20px;
    line-height: 24px;
    color: rgb(255, 153, 0);
}

.item_type h3{
    font-size: 22px;
}

.div_desc {
    display: flex;
    gap: 120px;
    margin-top: 10px;
}

.item_img {
    background-color: rgb(255, 153, 0);
    width: 40%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    display: flex;
    align-items: center;
}

.circle {
    background-color: white;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
}
.circle img{
    height:  190px;
    width: 190px;
    border-radius: 100%;
}